<section>
  <p class="text-base font-medium text-center tracking-tight py-5">Grupos</p>
  @if (servicioForm.gruposSeleccionados.length > 0) {
    <ul class="flex flex-col gap-2">
      @for (grupo of servicioForm.gruposSeleccionados; track $index) {
        <li class="flex gap-2">
          <div class="flex bg-white shadow-expand-ams border-gray04 border-opacity-50 border-[0.25px] rounded-t-sm gap-2 w-full">
            <span class="w-1 bg-blue02">&nbsp;</span>
            <div class="flex flex-1 w-0 ps-2 py-3 items-center gap-2">
              <mat-icon class="icon-sm text-gray01">group</mat-icon> 
              <p class="text-sm truncate" [matTooltip]="grupo.nombre">{{grupo.nombre}}</p>
            </div>
            <div class="ms-auto flex items-center gap-2 pe-2">
              <gestion-chip-info-grupo  
                type="usuarios"
                [serviceForm]="servicioForm"
                [grupo]="grupo"
              ></gestion-chip-info-grupo>
              <gestion-chip-info-grupo  
                type="permisos"
                [serviceForm]="servicioForm"
                [grupo]="grupo"
              ></gestion-chip-info-grupo>
              <button (click)="servicioForm.onCheckboxChange(grupo)" mat-icon-button>
                <mat-icon class="icon-sm text-gray01">cancel</mat-icon>
              </button>
            </div>
          </div>
        </li>
      }
    </ul>
  } @else {
    <p class="italic text-sm font-normal text-center tracking-tight">Sin grupos seleccionados</p>
  }
</section>
<section>
  <p class="text-base font-medium text-center tracking-tight py-5">Resumen de permisos</p>
  @if (getPermisos().length > 0) {
    <ul class="flex flex-col gap-2">
      @for (permiso of getPermisos(); track $index) {
        <li class="flex gap-2">
          <div class="flex bg-white shadow-expand-ams border-gray04 border-opacity-50 border-[0.25px] rounded-t-sm gap-2 w-full">
            <span class="w-1 bg-green2">&nbsp;</span>
            <div class="flex flex-1 w-0 ps-2 py-3 items-center gap-2">
              <mat-icon class="icon-sm text-gray01">shield</mat-icon> 
              <p class="text-sm truncate" [matTooltip]="permiso.descripcion">{{permiso.nombre}}</p>
            </div>
          </div>
        </li>
      }
    </ul>
  } @else {
    <p class="italic text-sm font-normal text-center tracking-tight">Sin permisos encontrados</p>
  }
</section>