<div class="bg-white border-1 rounded h-full flex flex-col shadow-expand-ams overflow-clip">
  <header class="p-6 py-5 flex justify-center items-center bg-blue02 relative">
    <p class="text-white text-base font-medium text-center tracking-tight">{{title}}</p>
    <div class="h-full absolute right-3 top-0 bottom-0">
      <ng-content select="[actions]"></ng-content>
    </div>
  </header>
  <div class="p-6 flex-1 h-0 overflow-auto flex flex-col">
    <ng-content select="[body]"></ng-content>
  </div>
  <footer class="p-6 border-t-2">
    <ng-content select="[footer]"></ng-content>
  </footer>
</div>