<div class="bg-white flex flex-col h-full min-w-[48rem]">
  <header class="p-6 py-5 flex items-center bg-blue01 relative">
    <h2 class="text-white text-lg font-medium text-start tracking-tight">
      Administracion de usuario
    </h2>
  </header>
  <div class="flex-1 flex h-0">
    <aside class="bg-blue01 flex flex-col p-4 justify-between overflow-auto h-full w-56 shadow-md-ams-01">
      <nav class="flex flex-col gap-2">
        <dashboard-sidebar-item 
          [label]="'Información'"
          routerLink="/dashboard/gestion/usuarios"
          [routerLinkActiveOptions]="{ 
            exact: true, 
            queryParams: 'exact',
            matrixParams: 'exact',
            paths: 'exact',
            fragment: 'exact',
          }"
          tabLink="informacion"
          [queryParams]="{
            drawer: 'usuarioDrawer',
            drawerTab: 'informacion',
          }"
          [isDrawer]="true"
        >
          <mat-icon class="icon-sm" icon>info</mat-icon>
        </dashboard-sidebar-item>
        <dashboard-sidebar-item 
          [label]="'Autenticacion'"
          routerLink="/dashboard/gestion/usuarios"
          [routerLinkActiveOptions]="{ 
            exact: true, 
            queryParams: 'exact',
            matrixParams: 'exact',
            paths: 'exact',
            fragment: 'exact',
          }"
          [queryParams]="{
            drawer: 'usuarioDrawer',
            drawerTab: 'autenticacion',
          }"
          tabLink="autenticacion"
          [isDrawer]="true"
        >
          <mat-icon class="icon-sm" icon>lock</mat-icon>
        </dashboard-sidebar-item>
        <dashboard-sidebar-item 
          [label]="'Grupos'"
          routerLink="/dashboard/gestion/usuarios"
          [queryParams]="{
            drawer: 'usuarioDrawer',
            drawerTab: 'grupos',
          }"
          [routerLinkActiveOptions]="{ 
            exact: true, 
            queryParams: 'exact',
            matrixParams: 'exact',
            paths: 'exact',
            fragment: 'exact',
          }"
          tabLink="grupos"
          [isDrawer]="true"
        >
          <mat-icon class="icon-sm" icon>group</mat-icon>
        </dashboard-sidebar-item>
      </nav>
      <footer class="w-full py-2">
        <button 
          (click)="usuarioService.openDelete()"
          color="warn" 
          class="!font-medium !text-sm !tracking-wide !uppercase !border-blood !w-full" 
          mat-stroked-button>
          <mat-icon class="icon-sm" matPrefix>delete</mat-icon>
          Eliminar usuario
        </button>
      </footer>
    </aside>
    <div class="flex-1 h-full flex flex-col">
      <div class="flex-1 h-0 overflow-auto">
        @switch (linkTab) {
          @case ('informacion') {
            <div class="p-6 flex flex-col gap-6">
              <div 
                [formGroup]="usuarioService.formNombresApellidos"
                class="border-1 rounded shadow-expand-ams w-full">
                <header class="text-base font-medium tracking-tighter py-3 px-6 border-b-1">
                  Información de usuario
                </header>
                <div class="flex flex-col gap-6 p-6">
                  <mat-form-field class="form-field-sm" appearance="outline">
                    <mat-label>Nombres de usuario</mat-label>
                    <input type="text" formControlName="nombres" [value]="usuarioService.usuario?.nombres" matInput>
                    @if(usuarioService.hasError(usuarioService.formNombresApellidos, 'nombres', 'required')) { <mat-error>Campo obligatorio</mat-error> }
                  </mat-form-field>
                  <mat-form-field class="form-field-sm" appearance="outline">
                    <mat-label>Apellidos de usuario</mat-label>
                    <input type="text" formControlName="apellidos" [value]="usuarioService.usuario?.apellidos" matInput>
                    @if(usuarioService.hasError(usuarioService.formNombresApellidos, 'apellidos', 'required')) { <mat-error>Campo obligatorio</mat-error> }
                  </mat-form-field>
                </div>
              </div>
            </div>
          }
          @case ('autenticacion') {
            <div class="p-6 flex flex-col gap-6">
              <div class="border-1 rounded shadow-expand-ams w-full">
                <header class="text-base font-medium tracking-tighter py-3 px-6 border-b-1">
                  Información de cuenta
                </header>
                <div class="flex flex-col gap-6 p-6">
                  <mat-form-field class="form-field-sm" appearance="outline">
                    <mat-label>Correo de usuario</mat-label>
                    <input type="text" matInput [value]="usuarioService.usuario?.correo" disabled>
                  </mat-form-field>
                </div>
              </div>
              <div 
                [formGroup]="usuarioService.formPassword"
                class="border-1 rounded shadow-expand-ams w-full">
                <header class="text-base font-medium tracking-tighter py-3 px-6 border-b-1">
                  Actualizar contraseña
                </header>
                <div class="flex flex-col gap-6 p-6">
                  <mat-form-field class="form-field-sm" appearance="outline">
                    <mat-label>Contraseña</mat-label>
                    <input [type]="usuarioService.hidePassword ? 'password' : 'text'" formControlName="password" name="password"
                      matInput />
                    <button type="button" mat-icon-button matSuffix
                      (click)="usuarioService.hidePassword = !usuarioService.hidePassword">
                      <mat-icon>{{usuarioService.hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    @if(usuarioService.hasError(usuarioService.formPassword, 'password', 'required')) { <mat-error>Campo obligatorio</mat-error> }
                    @for (error of usuarioService.getErrors(usuarioService.formPassword ,'password'); track $index) {
                    <mat-error>{{ error }}</mat-error>
                    }
                  </mat-form-field>
                  <mat-form-field class="form-field-sm" appearance="outline">
                    <mat-label>Repetir contraseña</mat-label>
                    <input [type]="usuarioService.hidePassword ? 'password' : 'text'" formControlName="confirmPassword" name="confirmPassword"
                      matInput />
                    <button type="button" mat-icon-button matSuffix
                      (click)="usuarioService.hidePassword = !usuarioService.hidePassword">
                      <mat-icon>{{usuarioService.hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    @if(usuarioService.hasError(usuarioService.formPassword, 'confirmPassword', 'required')) { <mat-error>Campo obligatorio</mat-error> }
                    @for (error of usuarioService.getErrors(usuarioService.formPassword ,'confirmPassword'); track $index) {
                      <mat-error>{{ error }}</mat-error>
                      }
                  </mat-form-field>
                </div>
              </div>
            </div>
          }
          @case ('grupos') {
            <div class="p-6 flex flex-col gap-6">
              <div class="flex flex-1 h-0 w-full flex-col gap-6">
                <usuarios-tabla-grupos 
                  wrapperClass="max-h-[36rem]"
                  [serviceForm]="usuarioService"
                ></usuarios-tabla-grupos>
                <div class="flex flex-col gap-4">
                  <section>
                    <p class="text-base font-medium text-center tracking-tight py-5">Grupos</p>
                    @if (usuarioService.gruposSeleccionados.length > 0) {
                      <ul class="flex flex-col gap-2">
                        @for (grupo of usuarioService.gruposSeleccionados; track $index) {
                          <li class="flex gap-2">
                            <div class="flex bg-white shadow-expand-ams border-gray04 border-opacity-50 border-[0.25px] rounded-t-sm gap-2 w-full">
                              <span class="w-1 bg-blue02">&nbsp;</span>
                              <div class="flex flex-1 w-0 ps-2 py-3 items-center gap-2">
                                <mat-icon class="icon-sm text-gray01">group</mat-icon> 
                                <p class="text-sm truncate" [matTooltip]="grupo.nombre">{{grupo.nombre}}</p>
                              </div>
                              <div class="ms-auto flex items-center gap-2 pe-2">
                                <span matTooltip="{{ grupo.usuarios.length + ' Usuario(s)' }}" class="flex items-center p-2 rounded-lg text-xs border-2">
                                  <mat-icon class="icon-sm text-gray01">person</mat-icon>
                                  {{ grupo.usuarios.length }}
                                </span>
                                <span matTooltip="{{ grupo.permisos.length + ' Permiso(s)' }}" class="flex items-center p-2 rounded-lg text-xs border-2">
                                  <mat-icon class="icon-sm text-gray01">shield</mat-icon>
                                  {{ grupo.permisos.length }}
                                </span>
                                <button (click)="usuarioService.onCheckboxChange(grupo)" mat-icon-button>
                                  <mat-icon class="icon-sm text-gray01">cancel</mat-icon>
                                </button>
                              </div>
                            </div>
                          </li>
                        }
                      </ul>
                    } @else {
                      <p class="italic text-sm font-normal text-center tracking-tight">Sin grupos seleccionados</p>
                    }
                  </section>
                  <section>
                    <p class="text-base font-medium text-center tracking-tight py-5">Resumen de permisos</p>
                    @if (getPermisos().length > 0) {
                      <ul class="flex flex-col gap-2">
                        @for (permiso of getPermisos(); track $index) {
                          <li class="flex gap-2">
                            <div class="flex bg-white shadow-expand-ams border-gray04 border-opacity-50 border-[0.25px] rounded-t-sm gap-2 w-full">
                              <span class="w-1 bg-green2">&nbsp;</span>
                              <div class="flex flex-1 w-0 ps-2 py-3 items-center gap-2">
                                <mat-icon class="icon-sm text-gray01">shield</mat-icon> 
                                <p class="text-sm truncate" [matTooltip]="permiso.nombre">{{permiso.nombre}}</p>
                              </div>
                            </div>
                          </li>
                        }
                      </ul>
                    } @else {
                      <p class="italic text-sm font-normal text-center tracking-tight">Sin permisos encontrados</p>
                    }
                  </section>
                </div>
              </div>
            </div>
          } 
          @default {
            <div class="p-6 h-full flex flex-col justify-center items-center gap-2">
              <img src="/ui/assets/icons/svg/logo.svg" alt="logo-svg" />
              <p class="text-xs text-gray01 text-center max-w-64">Seleccione una página para continuar</p>
            </div>
          }
        }
      </div>
      <footer class="p-6 border-t-2 flex gap-4 justify-between">
        <button 
          (click)="drawerService.close()"
          class="!font-medium !text-sm !tracking-wide !uppercase" 
          mat-stroked-button>
          Cancelar
        </button>
        <button 
          (click)="
            linkTab === 'informacion' ? usuarioService.updateNombresApellidos() : 
            linkTab === 'autenticacion' ? usuarioService.updatePassword() : 
            usuarioService.updateGrupos()
          "
          color="primary" 
          class="!font-medium !text-sm !tracking-wide !uppercase disabled:!bg-blue01 disabled:!bg-opacity-80 w-32" 
          mat-raised-button>
          @if (usuarioService.loading) {
            <div class="text-center !py-[0.625rem] !px-4">
              <mat-spinner class="spinner-white" diameter="28"></mat-spinner>
            </div>
          } @else {
            Guardar
          }
        </button>
      </footer>
    </div>
  <div>
</div>
</div>