<div class="h-full w-full flex flex-col gap-3">
  <card-layout 
    class="flex-1 h-0"
    title="Componente {{ serviceForm.nodoSeleccionado?.nombre }}"
  >
    <div class="flex flex-col gap-4" body>
      <activos-componente-form 
        [formData]="serviceForm.formDataUpdate"
        [hasError]="serviceForm.hasError"
        [getErrorsApi]="serviceForm.getErrorsApi"
      />
      <div class="flex flex-col gap-4">
        <div class="flex flex-col gap-2 w-full">
          @for (hijo of serviceForm.dataNodoHijos; track $index) {
            <div class="border-gray04 border-opacity-50 border-[0.25px] w-full flex items-center shadow-sm-ams-01">
              <activos-chip class="flex-1 w-0" [node]="{
                id: 0,
                nombre: hijo.nombre,
                type: hijo.tipo,
                level: 1,
                expandable: false,
                isExpanded: false
              }"></activos-chip>
              <p class="px-4 text-end whitespace-nowrap">{{ hijo.cantidad }}</p>
            </div>
          }
        </div>
      </div>
    </div>
  </card-layout>
  <div class="w-full flex flex-col xl:flex-row gap-2">
    <button
      (click)="serviceForm.updateNodo()"
      color="primary"
      class="!rounded disabled:!bg-blue01 disabled:!bg-opacity-80 !py-4 !font-semibold !text-xs xl:w-1/2"
      mat-raised-button
      [disabled]="serviceForm.loadingUpdate"
    >      
    @if (serviceForm.loadingUpdate) {
      <div class="text-center !py-[0.625rem] !px-4">
        <mat-spinner class="!stroke-white" diameter="28"></mat-spinner>
      </div>
    } @else {
      Actualizar
    }
    </button>
    <button
      (click)="serviceForm.openModalDelete()"
      class="!rounded disabled:!bg-blue01 disabled:!bg-opacity-80 !py-4 !font-semibold !text-xs xl:w-1/2"
      mat-raised-button
    >      
      Eliminar
    </button>
  </div>
</div>