<div class="h-full w-full flex flex-col gap-3">
  @switch (serviceForm.nodoSeleccionado?.nombre) {
    @case ('RMS') {
      <main-charts-dashboard class="flex-1 h-0" [title]="serviceForm.nodoSeleccionado?.nombre || 'Metrica'"></main-charts-dashboard>
    }
    @case ('Temperatura') {
      <main-temperature-chart-dashboard class="flex-1 h-0" [title]="serviceForm.nodoSeleccionado?.nombre || 'Metrica'"></main-temperature-chart-dashboard>
    }
    @case ('Espectro') {
      <main-velocidad-chart-dashboard class="flex-1 h-0" [title]="serviceForm.nodoSeleccionado?.nombre || 'Metrica'"></main-velocidad-chart-dashboard>
    }
  }
</div>