<div class="flex items-center gap-3 w-full">
  <mat-icon>grid_view</mat-icon>
  <div
    class="border-gray04 text-sm bg-smoke2 py-4 px-3 border-opacity-50 border-[0.25px] flex items-center gap-2 shadow-sm-ams-01 rounded-e-md transition-colors cursor-pointer flex-1"
  >
    <div class="flex flex-1 w-0 items-center gap-2">
      <svg
        width="16"
        height="16"
        viewBox="0 0 16 16"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <circle cx="8" cy="8" r="7.5" stroke="#DC3939" />
        <circle cx="8" cy="8" r="5.5" fill="#FF2727" stroke="#DC3939" />
      </svg>
      <p class="flex-1 w-0 truncate">Incidencia en motor M1</p>
    </div>
    <span class="text-end whitespace-nowrap">Hace 2 dias</span>
  </div>
</div>