<div class="flex flex-col w-full gap-3">
	<div class="flex-1 gap-3 grid grid-cols-[repeat(auto-fill,minmax(15rem,1fr))]">
		<main-card-info type="area" [count]="1" title="Areas registradas" />
		<main-card-info type="maquina" [count]="1" title="Máquinas registradas" />
		<main-card-info type="componente" [count]="1" title="Componentes registrados" />
		<main-card-info type="punto_monitoreo" [count]="1" title="Puntos de monitoreo" />
		<main-card-info type="metrica" [count]="1" title="Metricas totales" />
	</div>
	<div class="flex flex-col md:flex-row gap-3">
		<div class="flex flex-col gap-3 md:basis-1/2 xl:flex-1">
			<main-charts-dashboard></main-charts-dashboard>
			<main-temperature-chart-dashboard></main-temperature-chart-dashboard>
			<main-velocidad-chart-dashboard></main-velocidad-chart-dashboard>
		</div>
		<article class="md:basis-1/2 xl:basis-1/3 flex flex-col gap-3">
			<card-layout title="Diagnóstico" class="flex-1">
			</card-layout>
			<card-layout title="Listado de incidencias">
				<activos-incidencias-list body></activos-incidencias-list>
			</card-layout>
		</article>
	</div>
</div>