<div class="w-full h-full flex flex-col gap-3">
  <div class="flex flex-col min-[384px]:flex-row justify-between gap-3">
    <div class="rounded-lg bg-white py-3 px-6 flex items-center text-base shadow-expand-ams w-full sm:w-auto">
      <ng-content select="[search]"></ng-content>
      <mat-icon>search</mat-icon>
    </div>
    <ng-content select="[actions]"></ng-content>
  </div>
  <div class="bg-white rounded flex-1">
    <header class="px-6 py-3 flex text-gray01 shadow-expand-ams">
      <span class="w-14">Nro</span>
      <div class="grid grid-cols-[repeat(auto-fit,minmax(0,1fr))] flex-1 gap-2">
        @for(head of header; track $index) {
          <tabla-col>{{ head }}</tabla-col>
        }
      </div>
    </header>
    <ng-content select="[body]"></ng-content>
  </div>
</div>