<form-layout
  [title]="'Bienvenido de nuevo'"
  [subtitle]="'Por favor, ingrese los datos de su cuenta'"
  [footerText]="'¿No tienes una cuenta?'"
  [footerTextLink]="'Registrarse'"
  [footerLinkRouter]="'/auth/register'"
  [submitText]="'Iniciar sesión'"
  [formGroup]="serviceForm.formUser"
  (submit)="serviceForm.login()"
  [loading]="serviceForm.isSending"
>
  <ng-template #inputs>
    <mat-form-field appearance="outline">
      <mat-label>Correo electrónico</mat-label>
      <mat-icon matPrefix>mail</mat-icon>
      <input type="email" name="correo" formControlName="correo" matInput>
      @if(serviceForm.hasError('correo', 'required')) { <mat-error>El correo es requerido</mat-error> }
      @if(serviceForm.hasError('correo', 'email')) { <mat-error>Debe especificar un correo vàlido</mat-error> }
      @for (error of serviceForm.getErrorsApi('correo'); track $index) {
        <mat-error>{{ error }}</mat-error>
      }
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Contraseña</mat-label>
      <mat-icon matPrefix>lock</mat-icon>
      <input [type]="hide ? 'password' : 'text'" name="password" formControlName="password" matInput>
      <button type="button" mat-icon-button matSuffix (click)="hide = !hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      @if(serviceForm.hasError('password', 'required')) { <mat-error>La contraseña requerida</mat-error> }
      @for (error of serviceForm.getErrorsApi('password'); track $index) {
        <mat-error>{{ error }}</mat-error>
      }
    </mat-form-field>
  </ng-template>
  <ng-container options>
    <section class="flex justify-between items-center">
      <div class="flex-1">
        <mat-checkbox formControlName="rememberMe" color="primary">
          <p class="text-sm">Recuérdame</p>
        </mat-checkbox>
      </div>
      <a class="font-semibold text-xs text-green2 text-end">¿Olvidó su contraseña?</a>
    </section>
  </ng-container>
</form-layout>