<auth-layout>
  <form-layout
    [title]="'Bienvenido de nuevo'"
    [subtitle]="'Por favor, ingrese los datos de su cuenta'"
    [footerText]="'¿No tienes una cuenta?'"
    [footerTextLink]="'Registrarse'"
    [footerLinkRouter]="'/auth/register'"
    [submitText]="'Iniciar sesión'"
    [formGroup]="formUser"
    (submit)="login()"
  >
    <ng-template #inputs>
      <mat-form-field appearance="outline" class="h-full !text-sm sm:!text-base">
        <mat-label class="!text-sm sm:!text-base">Correo electrónico</mat-label>
        <mat-icon matPrefix>mail</mat-icon>
        <input type="email" name="email" formControlName="email" matInput>
        @if(hasError('email', 'required')) { <mat-error>El correo es requerido</mat-error> }
        @if(hasError('email', 'email')) { <mat-error>Debe especificar un correo vàlido</mat-error> }
      </mat-form-field>
      <mat-form-field appearance="outline" class="h-full !text-sm sm:!text-base">
        <mat-label class="!text-sm sm:!text-base">Contraseña</mat-label>
        <mat-icon matPrefix>lock</mat-icon>
        <input [type]="hide ? 'password' : 'text'" name="password" formControlName="password" matInput>
        <button type="button" mat-icon-button matSuffix (click)="hide = !hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        @if(hasError('password', 'required')) { <mat-error>La contraseña requerida</mat-error> }
      </mat-form-field>
    </ng-template>
    <ng-container options>
      <section class="flex justify-between items-center">
        <div class="text-xs sm:text-sm flex-1">
          <mat-checkbox formControlName="rememberMe" color="primary">Recuérdame</mat-checkbox>
        </div>
        <a class="font-semibold text-xs sm:text-sm text-green2 text-end">¿Olvidó su contraseña?</a>
      </section>
    </ng-container>
  </form-layout>
</auth-layout>