<div class="container mt-5 mx-auto">
  <div class="flex justify-center">
    <div class="w-full md:w-8/12">
      <div class="bg-white shadow-md rounded-lg">
        <div class="px-6 py-4 bg-blue02 border-b border-gray-300">
          <h2 class="text-white font-medium text-center">Configuración</h2>
        </div>
        <div class="p-6">
          <div class="config-container">
            <button class="btn btn-secondary btn-block mb-2" (click)="toggleTheme()">Cambiar Tema</button>
            <button class="btn btn-secondary btn-block mb-2" (click)="openUserConfig()">Configurar Usuario</button>
            <button class="btn btn-secondary btn-block mb-2" (click)="viewAccountInfo()">Ver Información de la Cuenta</button>
            <button class="btn btn-secondary btn-block mb-2" (click)="changePassword()">Cambiar Contraseña</button>
            <button class="btn btn-dark btn-block mb-2" (click)="logout()">Cerrar Sesión</button>
            <button class="btn btn-danger btn-block mb-2" (click)="deleteAccount()">Eliminar Cuenta</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
