<div class="h-full w-full flex flex-col gap-3">
  <card-layout class="flex-1 h-0">
    <p class="text-gray01 text-base font-semibold" header>
      Entidad {{ serviceForm.nodoSeleccionado?.nombre }}
    </p>
    <div class="flex flex-col gap-4" [formGroup]="serviceForm.formDataUpdate" body>
      <div class="flex flex-col sm:flex-row gap-4">
        <mat-form-field
          appearance="outline"
          class="h-full !text-sm sm:!text-base"
        >
          <mat-label class="!text-sm sm:!text-base">RUC</mat-label>
          <mat-icon matPrefix>badge</mat-icon>
          <input
            type="text"
            formControlName="ruc"
            name="ruc"
            matInput
          />
          @if(serviceForm.hasError('ruc', 'required')) {
          <mat-error>El RUC es requerido</mat-error> }
          @if(serviceForm.hasError('ruc', 'pattern')) {
            <mat-error>Ingrese un RUC valido</mat-error> }
          @for (error of serviceForm.getErrorsApi('ruc'); track $index) {
            <mat-error>{{ error }}</mat-error>
          }
        </mat-form-field>
        <mat-form-field
          appearance="outline"
          class="h-full !text-sm sm:!text-base"
        >
          <mat-label class="!text-sm sm:!text-base">Nombre</mat-label>
          <mat-icon matPrefix
            >apartment</mat-icon
          >
          <input
            type="text"
            formControlName="nombre"
            name="nombre"
            matInput
          />
          @if(serviceForm.hasError('nombre', 'required')) {
          <mat-error>El nombre de su empresa es requerido</mat-error> }
          @for (error of serviceForm.getErrorsApi('nombre'); track $index) {
            <mat-error>{{ error }}</mat-error>
          }
        </mat-form-field>
      </div>
      <mat-form-field
        appearance="outline"
        class="h-full !text-sm sm:!text-base"
      >
        <mat-label class="!text-sm sm:!text-base">Razón social</mat-label>
        <mat-icon matPrefix>people</mat-icon>
        <mat-select
          name="razonSocial"
          formControlName="razonSocial"
        >
          @for (razonSocial of razonesSociales; track $index) {
            <mat-option [value]="razonSocial">{{razonSocial}}</mat-option>
          }
        </mat-select>
        @if(serviceForm.hasError('razonSocial', 'required')) {
        <mat-error>La razón social es requerida</mat-error> }
        @for (error of serviceForm.getErrorsApi('razonSocial'); track $index) {
          <mat-error>{{ error }}</mat-error>
        }
      </mat-form-field>
      <mat-form-field
        appearance="outline"
        class="h-full !text-sm sm:!text-base"
      >
        <mat-label class="!text-sm sm:!text-base">Teléfono</mat-label>
        <mat-icon matPrefix>phone</mat-icon>
        <input
          type="tel"
          formControlName="telefono"
          name="telefono"
          matInput
        />
        @if(serviceForm.hasError('telefono', 'required')) {
        <mat-error>Debe ingresar el teléfono de su empresa</mat-error> }
        @for (error of serviceForm.getErrorsApi('telefono'); track $index) {
          <mat-error>{{ error }}</mat-error>
        }
      </mat-form-field>
      <mat-form-field
        appearance="outline"
        class="h-full !text-sm sm:!text-base"
      >
        <mat-label class="!text-sm sm:!text-base">Correo</mat-label>
        <mat-icon matPrefix>email</mat-icon>
        <input
          type="email"
          formControlName="email"
          name="email"
          matInput
        />
        @if(serviceForm.hasError('email', 'required')) {
        <mat-error>Debe ingresar el correo de su empresa</mat-error> }
        @if(serviceForm.hasError('email', 'email')) {
          <mat-error>Debe ingresar un correo valido</mat-error> }
        @for (error of serviceForm.getErrorsApi('email'); track $index) {
          <mat-error>{{ error }}</mat-error>
        }
      </mat-form-field>
      <div class="flex flex-col sm:flex-row md:flex-col min-[1664px]:flex-row gap-4">
        <img class="sm:w-1/2 md:w-full xl:w-1/2 h-full" src="{{ serviceForm.dataNodo?.imagen }}" alt="imagen-{{serviceForm.dataNodo?.id}}">
        <div class="flex flex-col gap-2 sm:w-1/2 md:w-full">
          @for (hijo of serviceForm.dataNodoHijos; track $index) {
            <div class="border-gray04 border-opacity-50 border-[0.25px] w-full flex items-center shadow-sm-ams-01">
              <activos-chip class="flex-1 w-0" [node]="{
                id: '',
                nombre: hijo.nombre,
                type: hijo.tipo,
                level: 1,
                expandable: false,
                isExpanded: false
              }"></activos-chip>
              <p class="px-4 text-end whitespace-nowrap">{{ hijo.cantidad }}</p>
            </div>
          }
        </div>
      </div>
    </div>
  </card-layout>
  <div class="w-full flex flex-col xl:flex-row-reverse gap-2">
    <button
      (click)="serviceForm.updateNodo()"
      color="primary"
      class="!shadow-expand-ams !rounded !py-6 !font-semibold text-sm xl:w-1/2"
      mat-raised-button
      [disabled]="!serviceForm.dataNodo"
    >      
      Actualizar
    </button>
  </div>
</div>