<div class="h-full flex flex-col gap-3">
  <card-layout class="flex-1 h-0">
    <p class="text-gray01 text-base font-semibold" header>
      Entidad {{ serviceForm.nodoSeleccionado?.nombre }}
    </p>
    <div class="flex flex-col gap-4" [formGroup]="serviceForm.formDataUpdate" body>
      <mat-form-field
        appearance="outline"
        class="h-full !text-sm sm:!text-base"
      >
        <mat-label class="!text-sm sm:!text-base">Nombre de proceso</mat-label>
        <mat-icon matPrefix>cached</mat-icon>
        <input
          type="text"
          name="nombre"
          formControlName="nombre"
          matInput
        />
        @if(serviceForm.hasError('nombre', 'required')) {
        <mat-error>El nombre del proceso es requerido</mat-error> }
        @for (error of serviceForm.getErrorsApi('nombre'); track $index) {
          <mat-error>{{ error }}</mat-error>
        }
      </mat-form-field>
      <div class="flex flex-col sm:flex-row gap-4">
        <mat-form-field
          appearance="outline"
          class="h-full !text-sm sm:!text-base"
        >
          <mat-label class="!text-sm sm:!text-base">Prioridad</mat-label>
          <mat-icon matPrefix>badge</mat-icon>
          <input
            type="text"
            formControlName="prioridad"
            name="prioridad"
            matInput
          />
          @if(serviceForm.hasError('prioridad', 'required')) {
          <mat-error>La prioridad del proceso es requerida</mat-error> }
          @for (error of serviceForm.getErrorsApi('prioridad'); track $index) {
            <mat-error>{{ error }}</mat-error>
          }
        </mat-form-field>
        <mat-form-field
          appearance="outline"
          class="h-full !text-sm sm:!text-base"
        >
          <mat-label class="!text-sm sm:!text-base">Desempeño</mat-label>
          <mat-icon matPrefix>apartment</mat-icon>
          <input
            type="text"
            formControlName="desempeño"
            name="desempeño"
            matInput
          />
          @if(serviceForm.hasError('desempeño', 'required')) {
          <mat-error>El desempeño del proceso es requerido</mat-error> }
          @for (error of serviceForm.getErrorsApi('desempeño'); track $index) {
            <mat-error>{{ error }}</mat-error>
          }
        </mat-form-field>
      </div>
      <div class="flex flex-col sm:flex-row gap-4">
        <mat-form-field
          appearance="outline"
          class="h-full !text-sm sm:!text-base"
        >
          <mat-label class="!text-sm sm:!text-base">Frecuencia</mat-label>
          <mat-icon matPrefix>badge</mat-icon>
          <input
            type="number"
            formControlName="frecuencia"
            name="frecuencia"
            matInput
          />
          @if(serviceForm.hasError('frecuencia', 'required')) {
          <mat-error>Indique la frecuencia de este proceso</mat-error> }
          @if(serviceForm.hasError('frecuencia', 'min')) {
            <mat-error>Inserve un valor válido</mat-error> }
          @for (error of serviceForm.getErrorsApi('frecuencia'); track $index) {
            <mat-error>{{ error }}</mat-error>
          }
        </mat-form-field>
        <mat-form-field
          appearance="outline"
          class="h-full !text-sm sm:!text-base"
        >
          <mat-label class="!text-sm sm:!text-base">Estado</mat-label>
          <mat-icon matPrefix>apartment</mat-icon>
          <input
            type="text"
            formControlName="estado"
            name="estado"
            matInput
          />
          @if(serviceForm.hasError('estado', 'required')) {
          <mat-error>El estado de este proceso es requerido</mat-error> }
          @for (error of serviceForm.getErrorsApi('estado'); track $index) {
            <mat-error>{{ error }}</mat-error>
          }
        </mat-form-field>
      </div>
      <mat-form-field
        appearance="outline"
        class="h-full !text-sm sm:!text-base"
      >
        <mat-label class="!text-sm sm:!text-base">Descripcion</mat-label>
        <textarea
          formControlName="descripcion"
          name="descripcion"
          matInput
        ></textarea>
      </mat-form-field>
      <div class="flex flex-col gap-4">
        @for (hijo of serviceForm.dataNodoHijos; track $index) {
          <div class="border-gray04 border-opacity-50 border-[0.25px] w-full flex justify-between items-center shadow-sm-ams-01">
            <activos-chip class="text-nowrap text-ellipsis overflow-clip" [node]="{
              id: '',
              nombre: hijo.nombre,
              type: hijo.tipo,
              level: 1,
              expandable: false,
              isExpanded: false
            }"></activos-chip>
            <p class="px-4">{{ hijo.cantidad }}</p>
          </div>
        }
      </div>
    </div>
  </card-layout>
  <div class="w-full flex flex-col xl:flex-row-reverse gap-2">
    <button
      (click)="serviceForm.updateNodo()"
      color="primary"
      class="!shadow-expand-ams !rounded !py-6 !font-semibold text-sm xl:w-1/2"
      mat-raised-button
    >      
      Actualizar
    </button>
  </div>
</div>