<form [formGroup]="formData" class="flex flex-col gap-4">
  <mat-form-field appearance="outline" class="h-full !text-sm sm:!text-base">
    <mat-label class="!text-sm sm:!text-base">Nombre</mat-label>
    <mat-icon matPrefix>precision_manufacturing</mat-icon>
    <input type="text" formControlName="nombre" name="nombre" matInput />
    @if(hasError(formData, 'nombre', 'required')) {
    <mat-error>El nombre de la máquina es requerida</mat-error> } @for (error of
    getErrorsApi(formData, 'nombre'); track $index) {
    <mat-error>{{ error }}</mat-error>
    }
  </mat-form-field>
  <mat-form-field appearance="outline" class="h-full !text-sm sm:!text-base">
    <mat-label class="!text-sm sm:!text-base">Descripción</mat-label>
    <textarea
      formControlName="descripcion"
      name="descripcion"
      matInput
    ></textarea>
  </mat-form-field>
  <mat-form-field appearance="outline" class="h-full !text-sm sm:!text-base">
    <mat-label class="!text-sm sm:!text-base">Tipo de máquina</mat-label>
    <mat-icon matPrefix>category</mat-icon>
    <mat-select name="tipoMaquina" formControlName="tipoMaquina" matInput>
      <mat-option [value]="'default'">Default</mat-option>
    </mat-select>
    @if(hasError(formData, 'tipoMaquina', 'required')) {
    <mat-error>El tipo de máquina es requerido</mat-error> } @for (error of
    getErrorsApi(formData, 'tipoMaquina'); track $index) {
    <mat-error>{{ error }}</mat-error>
    }
  </mat-form-field>
</form>