<div class="h-full w-full flex flex-col gap-3">
  <card-layout class="flex-1 h-0">
    <p class="text-gray01 text-base font-semibold" header>
      Maquina {{ serviceForm.nodoSeleccionado?.nombre }}
    </p>
    <div class="flex flex-col gap-4" body>
      <mat-form-field
        appearance="outline"
        class="h-full !text-sm sm:!text-base"
      >
        <mat-label class="!text-sm sm:!text-base">Nombre</mat-label>
        <mat-icon matPrefix>precision_manufacturing</mat-icon>
        <input
          type="text"
          formControlName="nombre"
          name="nombre"
          matInput
        />
      </mat-form-field>
      <mat-form-field
        appearance="outline"
        class="h-full !text-sm sm:!text-base"
      >
        <mat-label class="!text-sm sm:!text-base">Descripción</mat-label>
        <textarea
          formControlName="descripcion"
          name="descripcion"
          matInput
        ></textarea>
      </mat-form-field>
      <mat-form-field
        appearance="outline"
        class="h-full !text-sm sm:!text-base"
      >
        <mat-label class="!text-sm sm:!text-base">Tipo de máquina</mat-label>
        <mat-icon matPrefix>category</mat-icon>
        <mat-select
          name="tipo_maquina"
          formControlName="tipo_maquina"
          matInput
        >
        </mat-select>
      </mat-form-field>
      <mat-form-field
        appearance="outline"
        class="h-full !text-sm sm:!text-base"
      >
        <mat-label class="!text-sm sm:!text-base">Fundación</mat-label>
        <mat-icon matPrefix>layers</mat-icon>
        <input
          type="text"
          formControlName="fundacion"
          name="fundacion"
          matInput
        />
      </mat-form-field>
      <div class="flex flex-col sm:flex-row md:flex-col min-[1664px]:flex-row gap-4">
        <img class="sm:w-1/2 md:w-full h-full" src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcRpnbimo6uFOVd1hEur1Q882tAe4qusnckKxZPKtXwN2rHHIK31" alt="imagen-{{serviceForm.dataNodo?.nombre}}">
        <div class="flex flex-col gap-2 sm:w-1/2 md:w-full">
          @for (hijo of serviceForm.dataNodoHijos; track $index) {
            <div class="border-gray04 border-opacity-50 border-[0.25px] w-full flex items-center shadow-sm-ams-01">
              <activos-chip class="flex-1 w-0" [node]="{
                id: '',
                nombre: hijo.nombre,
                type: hijo.tipo,
                level: 1,
                expandable: false,
                isExpanded: false
              }"></activos-chip>
              <p class="px-4 text-end whitespace-nowrap">{{ hijo.cantidad }}</p>
            </div>
          }
        </div>
      </div>
    </div>
  </card-layout>
  <div class="w-full flex flex-col xl:flex-row gap-2">
    <button
      color="primary"
      class="!shadow-expand-ams !rounded !py-6 !font-semibold text-sm xl:w-1/2"
      mat-raised-button
    >      
      Actualizar
    </button>
    <button
      class="!shadow-expand-ams !rounded !py-6 !font-semibold text-sm xl:w-1/2"
      mat-raised-button
    >      
      Eliminar
    </button>
  </div>
</div>