<div class="flex flex-col md:flex-row gap-3 md:h-full">
  <div [ngClass]="{
    'flex-1 w-full md:w-1/2 xl:w-2/3': true,
    'xl:w-1/3': formService.hasAlready
  }">
    <activos-arbol></activos-arbol>
  </div>
  <div [ngClass]="{
    'flex flex-col md:w-1/2 md:flex-1 xl:flex-none xl:w-1/3 xl:flex-row md:overflow-auto gap-3': true,
    'xl:w-2/3': formService.hasAlready
  }">
    @if (formService.hasAlready) {
    <div class="xl:w-1/2">
      @switch (formService.nodoSeleccionado?.type) {
      @case ('entidad') {
      <activos-entidad-card></activos-entidad-card>
      }
      @case ('area') {
      <activos-area-card></activos-area-card>
      }
      @case ('maquina') {
      <activos-maquina-card></activos-maquina-card>
      }
      @case ('componente') {
      <activos-componente-card></activos-componente-card>
      }
      @case ('punto_monitoreo') {
      <activos-punto-card></activos-punto-card>
      }
      @case ('metrica') {
      <activos-metrica-card></activos-metrica-card>
      }
      }
    </div>
    }
    <div [ngClass]="{
      'flex flex-col gap-3 flex-1': true,
      'xl:w-1/2': formService.hasAlready
    }">
      <card-layout class="max-h-96 xl:h-1/2 overflow-auto" title="Incidencias">
        <activos-incidencias-list body></activos-incidencias-list>
      </card-layout>
      <card-layout class="xl:h-1/2" title="Diagnóstico">
      </card-layout>
    </div>
  </div>
</div>