<tabla-layout
  [header]="[
    'Nombre',
    'Descripcion',
    'F. Creación',
  ]"
>
  <input
    type="text"
    [(ngModel)]="busqueda"
    placeholder="Buscar grupos"
    class="focus:outline-none w-full"
    search
  />
  @if (serviceForm.grupoSeleccionado) {
    <button 
      (click)="serviceForm.openDialog()"
      class="bg-white !shadow-expand-ams !rounded-lg !p-2 !font-semibold !text-sm h-full"
      mat-ripple
      actions
    >
      <mat-icon>delete</mat-icon>
    </button>
  }
  <ng-container body>
    @for(grupo of filtrarGrupos(); track grupo.id) {
      <div (click)="seleccionar(grupo)" [ngClass]="{
        'px-6 py-5 flex items-center font-light text-sm cursor-pointer transition-colors hover:bg-smoke2': true,
        '!bg-slate-200': serviceForm.grupoSeleccionado && serviceForm.grupoSeleccionado.id === grupo.id
      }" matRipple>
        <span class="w-14 text-sm">{{ $index | number: '3.0' }}</span>
        <div class="grid grid-cols-[repeat(auto-fit,minmax(0,1fr))] flex-1 gap-2 text-sm">
          <tabla-col>{{ grupo.nombre }}</tabla-col>
          <tabla-col>{{ grupo.descripcion }}</tabla-col>
          <tabla-col>{{ grupo.fecha_creacion | date: 'short' }}</tabla-col>
        </div>
      </div>
    }
  </ng-container>
</tabla-layout>