<div class="w-full h-full flex flex-col gap-3">
  <div class="flex flex-col sm:flex-row justify-between gap-3">
    <div class="rounded-lg bg-white py-3 px-6 flex items-center text-base shadow-expand-ams w-full sm:w-auto">
      <input
        type="text"
        placeholder="Busca aqui"
        class="focus:outline-none w-full"
      />
      <mat-icon>search</mat-icon>
    </div>
    <div class="flex gap-3">
      <button
        class="!bg-white !shadow-expand-ams !rounded-lg !py-2.5 !px-5 !text-blue02 !font-poppins !font-semibold !text-sm !h-full"
        mat-button
      >
        Filtrar
        <mat-icon>tune</mat-icon>
      </button>
    </div>
  </div>
  <div class="bg-white rounded flex-1">
    <header class="px-6 py-3 flex text-gray01 shadow-expand-ams">
      <span class="w-14">Nro</span>
      <div class="grid grid-cols-[repeat(auto-fit,minmax(0,1fr))] flex-1 gap-2">
        <tabla-col-grupos>Nombre</tabla-col-grupos>
        <tabla-col-grupos>Descripcion</tabla-col-grupos>
        <tabla-col-grupos>F. Creación</tabla-col-grupos>
      </div>
    </header>
    @for(grupo of grupos; track $index) {
      <div (click)="seleccionar(grupo)" [ngClass]="{
        'px-6 py-6 flex items-center font-light text-sm cursor-pointer transition-colors hover:bg-smoke2': true,
        '!bg-slate-200': seleccionado && seleccionado.id === grupo.id
      }" matRipple>
        <span class="w-14">{{ $index | number: '3.0' }}</span>
        <div class="grid grid-cols-[repeat(auto-fit,minmax(0,1fr))] flex-1 gap-2">
          <tabla-col-grupos>{{ grupo.nombre }}</tabla-col-grupos>
          <tabla-col-grupos>{{ grupo.descripcion }}</tabla-col-grupos>
          <tabla-col-grupos>{{ grupo.fecha_creacion | date: 'short' }}</tabla-col-grupos>
        </div>
      </div>
    }
  </div>
</div>