<tabla-layout [header]="[
    'Nombres',
    'Apellidos',
    'Correo',
    'Fecha de creación',
  ]">
  <input type="text" [(ngModel)]="busqueda" placeholder="Buscar usuario" class="focus:outline-none w-full" search />
  @if (serviceForm.usuarioSeleccionado) {
    <button 
      (click)="serviceForm.openDialog()"
      class="bg-white !shadow-expand-ams !rounded-lg !p-2 !font-semibold !text-sm h-full"
      mat-ripple
      actions
    >
      <mat-icon>delete</mat-icon>
    </button>
  }
  <div class="overflow-auto max-h-96 md:flex-1 md:h-0 md:max-h-full" body>
    @for(usuario of filtrarUsuarios(); track usuario.id) {
    <div (click)="seleccionar(usuario)" [ngClass]="{
        'px-6 py-5 flex items-center font-light text-sm cursor-pointer transition-colors hover:bg-smoke2': true,
        '!bg-slate-200': serviceForm.usuarioSeleccionado && serviceForm.usuarioSeleccionado.id === usuario.id
      }" matRipple>
      <span class="w-14 text-sm">{{ $index | number: '3.0' }}</span>
      <div class="grid grid-cols-[repeat(auto-fit,minmax(0,1fr))] flex-1 gap-2 text-sm">
        <tabla-col>{{ usuario.nombres }}</tabla-col>
        <tabla-col>{{ usuario.apellidos }}</tabla-col>
        <tabla-col>{{ usuario.correo }}</tabla-col>
        <tabla-col>{{ usuario.fechaCreacion| date: 'short' }}</tabla-col>
      </div>
    </div>
    }
  </div>
</tabla-layout>