<div class="bg-white flex flex-col h-full min-w-[48rem]">
  <header class="p-6 py-5 flex items-center bg-blue01 relative">
    <h2 class="text-white text-lg font-medium text-start tracking-tight">
      Administracion de grupo
    </h2>
  </header>
  <div class="flex-1 flex h-0">
    <aside class="bg-blue01 flex flex-col p-4 justify-between overflow-auto h-full w-56 shadow-md-ams-01">
      <nav class="flex flex-col gap-2">
        <dashboard-sidebar-item 
          [label]="'Información'"
          routerLink="/dashboard/gestion/grupos"
          [routerLinkActiveOptions]="{ 
            exact: true, 
            queryParams: 'exact',
            matrixParams: 'exact',
            paths: 'exact',
            fragment: 'exact',
          }"
          tabLink="informacion"
          [queryParams]="{
            drawer: 'grupoDrawer',
            drawerTab: 'informacion',
          }"
          [isDrawer]="true"
        >
          <mat-icon class="icon-sm" icon>info</mat-icon>
        </dashboard-sidebar-item>
        <dashboard-sidebar-item 
          [label]="'Usuarios'"
          routerLink="/dashboard/gestion/grupos"
          [routerLinkActiveOptions]="{ 
            exact: true, 
            queryParams: 'exact',
            matrixParams: 'exact',
            paths: 'exact',
            fragment: 'exact',
          }"
          [queryParams]="{
            drawer: 'grupoDrawer',
            drawerTab: 'usuarios',
          }"
          tabLink="usuarios"
          [isDrawer]="true"
        >
          <mat-icon class="icon-sm" icon>person</mat-icon>
        </dashboard-sidebar-item>
        <dashboard-sidebar-item 
          [label]="'Permisos'"
          routerLink="/dashboard/gestion/grupos"
          [queryParams]="{
            drawer: 'grupoDrawer',
            drawerTab: 'permisos',
          }"
          [routerLinkActiveOptions]="{ 
            exact: true, 
            queryParams: 'exact',
            matrixParams: 'exact',
            paths: 'exact',
            fragment: 'exact',
          }"
          tabLink="permisos"
          [isDrawer]="true"
        >
          <mat-icon class="icon-sm" icon>shield</mat-icon>
        </dashboard-sidebar-item>
      </nav>
      <footer class="w-full py-2">
        <button 
          (click)="serviceConfig.openDelete()"
          color="warn" 
          class="!font-medium !text-sm !tracking-wide !uppercase !border-blood !w-full" 
          mat-stroked-button>
          <mat-icon class="icon-sm" matPrefix>delete</mat-icon>
          Eliminar grupo
        </button>
      </footer>
    </aside>
    <div class="flex-1 h-full flex flex-col">
      <div class="flex-1 h-0 overflow-auto">
        @switch (linkTab) {
          @case ('informacion') {
            @if (serviceConfig.formGrupo) {
              <div class="p-6 flex flex-col gap-6">
                <div 
                  [formGroup]="serviceConfig.formGrupo"
                  class="border-1 rounded shadow-expand-ams w-full">
                  <header class="text-base font-medium tracking-tighter py-3 px-6 border-b-1">
                    Información de grupo
                  </header>
                  <div class="flex flex-col gap-6 p-6">
                    <mat-form-field class="form-field-sm" appearance="outline">
                      <mat-label>Nombre de grupo</mat-label>
                      <input type="text" formControlName="nombre" [value]="serviceConfig.grupo?.nombre" matInput>
                      @if(serviceConfig.hasError(serviceConfig.formGrupo, 'nombre', 'required')) { <mat-error>Campo obligatorio</mat-error> }
                    </mat-form-field>
                    <mat-form-field class="form-field-sm" appearance="outline">
                      <mat-label>Descripción de grupo</mat-label>
                      <input type="text" formControlName="descripcion" [value]="serviceConfig.grupo?.descripcion" matInput>
                      @if(serviceConfig.hasError(serviceConfig.formGrupo, 'descripcion', 'required')) { <mat-error>Campo obligatorio</mat-error> }
                    </mat-form-field>
                  </div>
                </div>
              </div>
            } @else {
              <div class="flex h-full justify-center items-center">
                <mat-spinner color="primary" diameter="56"></mat-spinner>
              </div>
            }
          }
          @case ('usuarios') {
            @if (serviceConfig.formGrupo) {
              <div class="p-6 flex flex-col gap-6">
                <div class="flex flex-1 h-0 w-full flex-col gap-6">
                  <grupos-tabla-usuarios 
                    wrapperClass="max-h-[36rem]"
                    [serviceForm]="serviceConfig"
                  ></grupos-tabla-usuarios>
                  <div class="flex flex-col gap-4">
                    <gestion-info-usuarios-permisos onlyTab="usuarios" [servicioForm]="serviceConfig"></gestion-info-usuarios-permisos>
                  </div>
                </div>
              </div>
            } @else {
              <div class="flex h-full justify-center items-center">
                <mat-spinner color="primary" diameter="56"></mat-spinner>
              </div>
            }
          }
          @case ('permisos') {
            @if (serviceConfig.formGrupo) {
              <div class="p-6 flex flex-col gap-6">
                <div class="flex flex-1 h-0 w-full flex-col gap-6">
                  <grupos-tabla-permisos 
                    wrapperClass="max-h-[36rem]"
                    [serviceForm]="serviceConfig"
                  ></grupos-tabla-permisos>
                  <div class="flex flex-col gap-4">
                    <gestion-info-usuarios-permisos onlyTab="permisos" [servicioForm]="serviceConfig"></gestion-info-usuarios-permisos>
                  </div>
                </div>
              </div>
            } @else {
              <div class="flex h-full justify-center items-center">
                <mat-spinner color="primary" diameter="56"></mat-spinner>
              </div>
            }
          } 
          @default {
            <div class="p-6 h-full flex flex-col justify-center items-center gap-2">
              <img src="/ui/assets/icons/svg/logo.svg" alt="logo-svg" />
              <p class="text-xs text-gray01 text-center max-w-64">Seleccione una página para continuar</p>
            </div>
          }
        }
      </div>
      <footer class="p-6 border-t-2 flex gap-4 justify-between">
        <button 
          (click)="drawerService.close()"
          class="!font-medium !text-sm !tracking-wide !uppercase" 
          mat-stroked-button>
          Cancelar
        </button>
        <button 
          (click)="serviceConfig.updateGrupo()"
          color="primary" 
          class="!font-medium !text-sm !tracking-wide !uppercase disabled:!bg-blue01 disabled:!bg-opacity-80 w-32" 
          mat-raised-button>
          @if (serviceConfig.loading) {
            <div class="text-center !py-[0.625rem] !px-4">
              <mat-spinner class="spinner-white" diameter="28"></mat-spinner>
            </div>
          } @else {
            Guardar
          }
        </button>
      </footer>
    </div>
  <div>
</div>
</div>