<div (click)="seleccionar()" class="px-4 min-w-96" #arbolItem>
  <div
    [ngClass]="{
    'border-gray04 border-opacity-50 border-[0.25px] w-full flex justify-between shadow-sm-ams-01 rounded-e-md arbol-item transition-colors cursor-pointer': true,
    'bg-white': this.node.id === this.serviceForm.nodoSeleccionado?.id,
    'bg-smoke2': !(this.node.id === this.serviceForm.nodoSeleccionado?.id),
  }"
  >
    <activos-chip [node]="node"></activos-chip>
    <div class="flex items-center">
      <button
        mat-ripple
        (click)="openDialog()"
        class="rounded-[50%] w-10 h-10 flex justify-center items-center"
      >
        <mat-icon> add </mat-icon>
      </button>
      <ng-content select="[buttonExpanded]"></ng-content>
    </div>
  </div>
</div>
