<aside class="bg-blue01 flex flex-col py-4 justify-between overflow-auto h-full gap-16 shadow-md-ams-01">
  <div class="flex flex-col gap-5">
    <header class="flex gap-2 items-center justify-center py-2 px-2">
      <img src="/ui/assets/icons/svg/logo.svg" alt="logo-svg" />
      <h1 class="text-white font-bold text-xl text-center">AMS</h1>
    </header>
    <div class="flex flex-col gap-3">
      <dashboard-sidebar-group [titulo]="'Dashboard'">
        <dashboard-sidebar-item
          [label]="'Dashboard'"
          [routerLink]="'/dashboard/'"
        >
          <mat-icon class="icon-sm" icon>grid_view</mat-icon>
        </dashboard-sidebar-item>
        <dashboard-sidebar-item
          [label]="'Activos'"
          [routerLinkActiveOptions]="{ exact: false }"
          [routerLink]="'/dashboard/activos'"
        >
          <mat-icon class="icon-sm" icon>lan</mat-icon>
        </dashboard-sidebar-item>
        <dashboard-sidebar-item
          [label]="'Monitoreo'"
          [routerLinkActiveOptions]="{ exact: false }"
          [routerLink]="'/dashboard/monitoreo'"
        >
          <mat-icon class="icon-sm" icon>monitor</mat-icon>
        </dashboard-sidebar-item>
        <dashboard-sidebar-item
          [label]="'Diagnóstico'"
          [routerLinkActiveOptions]="{ exact: false }"
          [routerLink]="'/dashboard/diagnostico'"
        >
          <mat-icon class="icon-sm" icon>feedback</mat-icon>
        </dashboard-sidebar-item>
      </dashboard-sidebar-group>
      <hr class="border-opacity-20 border-white mx-4">
      <dashboard-sidebar-group [titulo]="'Gestión'">
        <dashboard-sidebar-item
          [label]="'Reportes'"
          [routerLink]="'/dashboard/gestion/reportes'"
        >
          <mat-icon class="icon-sm" icon>description</mat-icon>
        </dashboard-sidebar-item>
        <dashboard-sidebar-item
          [label]="'Usuarios'"
          [routerLinkActiveOptions]="{ exact: false }"
          [routerLink]="'/dashboard/gestion/usuarios'"
        >
          <mat-icon class="icon-sm" icon>person</mat-icon>
        </dashboard-sidebar-item>
        <dashboard-sidebar-item
          [label]="'Grupos'"
          [routerLinkActiveOptions]="{ exact: false }"
          [routerLink]="'/dashboard/gestion/grupos'"
        >
          <mat-icon class="icon-sm" icon>group</mat-icon>
        </dashboard-sidebar-item>
      </dashboard-sidebar-group>
      <hr class="border-opacity-20 border-white mx-4">
      <dashboard-sidebar-group [titulo]="'Configuracion'">
        <dashboard-sidebar-item
          [label]="'Configuracion'"
          [routerLink]="'/dashboard/configuracion'"
        >
          <mat-icon class="icon-sm" icon>settings</mat-icon>
        </dashboard-sidebar-item>
      </dashboard-sidebar-group>
    </div>
  </div>
  
  <footer class="flex flex-col gap-2">
    <hr class="border-opacity-20 border-white mx-4">
    <button (click)="logout()" class="flex gap-3 items-center justify-center py-3 text-white font-semibold text-sm transition-colors hover:bg-light-green01">
      <mat-icon class="icon-sm">logout</mat-icon>
      <p>Cerrar sesión</p>
    </button>  
  </footer>
</aside>