<header class="flex justify-between items-center py-2 px-6 bg-white shadow-sm-ams-01">
  <button (click)="handleOpen()" mat-icon-button class="!flex">
    <mat-icon class="text-gray01 !text-[24px] !w-8 !h-8">menu</mat-icon>
  </button>
  <div class="flex items-center gap-2">
    <button mat-icon-button [matMenuTriggerFor]="notificaciones">
      <mat-icon class="text-gray01 !text-[24px] !w-8 !h-8" matBadge="2" matBadgeColor="warn" aria-hidden="false">notifications</mat-icon>
    </button>
    <button mat-icon-button [matMenuTriggerFor]="cuenta">
      <mat-icon class="text-gray01 !text-[24px] !w-8 !h-8">person</mat-icon>
    </button>
  </div>
</header>

<mat-menu #notificaciones="matMenu">
  <span mat-menu-item>
    <p class="text-sm">Notificacion 1</p>
  </span>
  <span mat-menu-item>
    <p class="text-sm">Notificacion 2</p>
  </span>
</mat-menu>

<mat-menu #cuenta="matMenu" class="!shadow-sm-ams-01">
  <section class="!py-1" mat-menu-item>
    <div class="flex items-center w-44">
      <mat-icon>person</mat-icon>
      <div class="flex flex-col">
        <p class="font-medium text-sm">{{ userService.dataUser.nombres }}</p>
        <p class="font-light text-xs">{{ userService.dataUser.correo }}</p>
      </div>
    </div>
  </section>
  <hr />
  <section class="py-1">
    <a [routerLink]="'/dashboard/'" mat-menu-item>
      <mat-icon class="icon-sm" icon>grid_view</mat-icon>
      <p class="text-sm">Dashboard</p>
    </a>
    <a [routerLink]="'/dashboard/activos'" mat-menu-item>
      <mat-icon class="icon-sm" icon>lan</mat-icon>
      <p class="text-sm">Activos</p>
    </a>
  </section>
  <hr />
  <section class="py-1">
    <a [routerLink]="'/dashboard/configuracion'" mat-menu-item>
      <mat-icon class="icon-sm" icon>settings</mat-icon>
      <p class="text-sm">Configuracion</p>
    </a>
    <button (click)="logout()" mat-menu-item>
      <mat-icon class="icon-sm" icon>logout</mat-icon>
      <p class="text-sm">Cerrar sesión</p>
    </button>
  </section>
</mat-menu>