<div class="flex flex-col md:flex-row md:h-full gap-3">
  <div class="md:w-1/2 xl:flex-1">
    <tabla-usuarios [usuarios]="servicio.usuarios" class="!h-full"></tabla-usuarios>
  </div>
  <div class="flex flex-col md:w-1/2 xl:w-1/3 gap-3 overflow-auto">
    <card-layout 
      [formGroup]="servicioForm.formUsuario" 
      [title]="servicioForm.usuarioSeleccionado ? 'Actualizar usuario' : 'Datos de usuario'"
    >
      @if (servicioForm.usuarioSeleccionado) {
      <div class="h-full" actions>
        <button (click)="servicioForm.onUpdatePasswordChange(servicioForm.isDisabled('password'))" mat-icon-button>
          @if (servicioForm.updatePassword) {
          <mat-icon class="icon-sm">lock</mat-icon>
          } @else {
          <mat-icon class="icon-sm">lock_open</mat-icon>
          }
        </button>
      </div>
      }
      <div class="flex flex-col gap-3" body>
        <div class="flex flex-col xl:flex-row gap-4">
          <mat-form-field appearance="outline" class="h-full sm:!flex-1">
            <mat-label>Nombres</mat-label>
            <mat-icon matPrefix>people</mat-icon>
            <input type="text" formControlName="nombres" name="nombres" matInput />
            @if(servicioForm.hasError('nombres', 'required')) {
            <mat-error>Ingrese los nombres del usuario</mat-error> }
            @for (error of servicioForm.getErrorsApi('nombres'); track $index) {
            <mat-error>{{ error }}</mat-error>
            }
          </mat-form-field>
          <mat-form-field appearance="outline" class="h-full sm:!flex-1">
            <mat-label>Apellidos</mat-label>
            <mat-icon matPrefix>people</mat-icon>
            <input type="text" formControlName="apellidos" name="apellidos" matInput />
            @if(servicioForm.hasError('apellidos', 'required')) {
            <mat-error>Ingrese los apellidos del usuario</mat-error> }
            @for (error of servicioForm.getErrorsApi('apellidos'); track $index) {
            <mat-error>{{ error }}</mat-error>
            }
          </mat-form-field>
        </div>
        <mat-form-field appearance="outline" class="h-full">
          <mat-label>Correo electrònico</mat-label>
          <mat-icon [ngClass]="{'!text-gray03': servicioForm.isDisabled('correo')}" matPrefix>mail</mat-icon>
          <input type="email" formControlName="correo" name="correo" matInput />
          @if(servicioForm.hasError('correo', 'required')) {
          <mat-error>El correo es requerido</mat-error>
          } @if(servicioForm.hasError('correo', 'email')) {
          <mat-error>Debe especificar un correo vàlido</mat-error>
          }
          @for (error of servicioForm.getErrorsApi('correo'); track $index) {
          <mat-error>{{ error }}</mat-error>
          }
        </mat-form-field>
        <mat-form-field appearance="outline" class="h-full">
          <mat-label>Contraseña</mat-label>
          <mat-icon [ngClass]="{'!text-gray03': servicioForm.isDisabled('password')}" matPrefix>lock</mat-icon>
          <input [type]="servicioForm.hidePassword ? 'password' : 'text'" formControlName="password" name="password"
            matInput />
          <button type="button" mat-icon-button matSuffix
            (click)="servicioForm.hidePassword = !servicioForm.hidePassword" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="servicioForm.hidePassword"
            [disabled]="servicioForm.isDisabled('password')">
            <mat-icon [ngClass]="{'!text-gray03': servicioForm.isDisabled('password')}">{{servicioForm.hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          @if(servicioForm.hasError('password', 'required')) {
          <mat-error>Una contraseña es requerida</mat-error>
          }
          @if(servicioForm.hasError('password', 'pattern')) {
          <mat-error>Contraseña invalida</mat-error>
          }
          @for (error of servicioForm.getErrorsApi('password'); track $index) {
          <mat-error>{{ error }}</mat-error>
          }
        </mat-form-field>
        <mat-form-field appearance="outline" class="h-full">
          <mat-label>Confirmar contraseña</mat-label>
          <mat-icon [ngClass]="{'!text-gray03': servicioForm.isDisabled('confirmPassword')}" matPrefix>lock</mat-icon>
          <input [type]="servicioForm.hidePassword ? 'password' : 'text'" formControlName="confirmPassword"
            name="confirmPassword" matInput />
          <button type="button" mat-icon-button matSuffix
            (click)="servicioForm.hidePassword = !servicioForm.hidePassword" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="servicioForm.hidePassword"
            [disabled]="servicioForm.isDisabled('confirmPassword')">
            <mat-icon [ngClass]="{'!text-gray03': servicioForm.isDisabled('confirmPassword')}">{{servicioForm.hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          @if(servicioForm.hasError('confirmPassword', 'required')) {
          <mat-error>Ingrese de nuevo la contraseña</mat-error>
          }
          @if(servicioForm.hasError('confirmPassword', 'pattern')) {
          <mat-error>Contraseña invalida</mat-error>
          }
          @for (error of servicioForm.getErrorsApi('confirmPassword'); track $index) {
          <mat-error>{{ error }}</mat-error>
          }
        </mat-form-field>
      </div>
    </card-layout>
    <card-layout class="md:flex-1" title="Grupos disponibles">
      <div class="flex flex-col gap-4" body>
        @for(grupo of servicio.grupos; track grupo.nombre) {
        <div class="flex items-center gap-1">
          <mat-checkbox [checked]="servicioForm.isChecked(grupo)"
            (change)="servicioForm.onCheckboxChange($event, grupo)" color="primary"></mat-checkbox>
          <mat-expansion-panel class="!rounded !bg-smoke1 border-gray04 border-opacity-50 border-[0.25px] !shadow-sm-ams-01 !w-full" hideToggle>
            <mat-expansion-panel-header class="!p-0">
              <div
                class="py-4 ps-4 pe-2 flex gap-4 text-sm w-full border-s-4 border-s-green2 text-ellipsis overflow-clip text-nowrap">
                <div class="flex flex-1 gap-2">
                  <mat-icon class="icon-sm">people</mat-icon>
                  <p>{{ grupo.nombre }}</p>
                </div>
                <p>{{ grupo.fecha_creacion | date : 'dd/MM/yyyy' }}</p>
              </div>
            </mat-expansion-panel-header>
            <mat-chip-set class="!overflow-auto">
              @for(permiso of grupo.permisos; track $index) {
              <mat-chip>
                <span class="text-xs">{{ permiso.nombre }}</span>
              </mat-chip>
              }
            </mat-chip-set>
          </mat-expansion-panel>
        </div>
        }
      </div>
    </card-layout>
    <div class="w-full flex flex-col xl:flex-row gap-2">
      <button 
        (click)="servicioForm.submit()" 
        color="primary"
        class="!rounded disabled:!bg-blue01 disabled:!bg-opacity-80 !py-4 !font-semibold !text-xs xl:w-1/2" 
        mat-raised-button
      >
        @if(servicioForm.usuarioSeleccionado) {
        Actualizar usuario
        }
        @if(!servicioForm.usuarioSeleccionado) {
        <mat-icon>add</mat-icon>
        }
        @if(!servicioForm.usuarioSeleccionado) {
        Generar usuario
        }
      </button>
      <button 
        (click)="servicioForm.limpiar()"
        class="!rounded disabled:!bg-blue01 disabled:!bg-opacity-80 !py-4 !font-semibold !text-xs xl:w-1/2" 
        mat-raised-button>
        @if(servicioForm.usuarioSeleccionado) {
        Cancelar
        } @else {
        Limpiar
        }
      </button>
    </div>
  </div>
</div>