<div class="flex bg-smoke2 h-full relative">
  <dashboard-sidebar [ngClass]="{
    'transition-transform duration-300 w-64 h-full absolute z-20': true,
    'max-lg:-translate-x-full': !sidebarService.isOpen,
    'lg:-translate-x-full': sidebarService.isOpen,
  }" />
  <div [ngClass]="{
    'transition-all duration-300 flex flex-col flex-1 lg:ml-64': true,
    'lg:ml-0': sidebarService.isOpen,
  }">
    <div (click)="handleOpen()" *ngIf="sidebarService.isOpen" class="lg:hidden absolute w-full h-full bg-black bg-opacity-50 z-10"></div>
    <dashboard-header />
		<main class="flex-1 p-6">
			<router-outlet></router-outlet>
		</main>
  </div>
</div>